h1{
    text-align:center;
  }
  .red{
    height:100px;
    width:100px;
    background-color:darkred;
    border-radius:50%
  }
  .blue{
    height:100px;
    width:100px;
    background-color:darkblue;
    border-radius:50%
  }
  .gray{
    height:100px;
    width:100px;
    background-color:dimgray;
    border-radius:50%
  }
  #black
  {
    height:100px;
    width:100px;
    background-color:black;
    margin:100px;
    border-radius:50%
  }
  
  #gold{
    height:100px;
    width:100px;
    background-color:gold;
    margin:100px;
    border-radius:50%
  }
  
  #orange{
    height:100px;
    width:100px;
    background-color:darkorange;
    margin:100px;
    margin-top:0px;
    border-radius:50%
  } 
  #purple{
    height:100px;
    width:100px;
    background-color:indigo;
    margin:100px;
    margin-top:0px;
    border-radius:50%
  } 
  #steelblue{
    height:100px;
    width:100px;
    background-color:steelblue;
    margin:100px;
    margin-top:0px;
    border-radius:50%
  } 
  #fuchsia{
    height:100px;
    width:100px;
    background-color:fuchsia;
    margin:100px;
    margin-top:0px;
    border-radius:50%
  } 